<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
         
         <objectContribution
               adaptable="false"
               id="tarlog-plugins.objectContribution.IResource"
               nameFilter="pom.xml"
               objectClass="org.eclipse.core.resources.IFile">
			<action
         class="com.tarlog.plugins.maven.DependencyVersionsToProperties"
         id="tarlog-plugins.action.openWindowsExplorer.iresource"
         label="Dependecy To Properties"
         menubarPath="Maven">
			</action>
			
		</objectContribution>
         
   </extension>

</plugin>
