<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="tarlog-plugins.objectContribution.IResource"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="tarlog.eclipse.plugins.openwe.OpenInWindowsExplorerAction"
               id="tarlog-plugins.action.openWindowsExplorer.iresource"
               label="Open in Windows Explorer">
         </action>
         <action
               class="tarlog.eclipse.plugins.openwe.OpenCommandPrompt"
               id="tarlog-plugins.action2"
               label="Open in Command Prompt">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="tarlog-plugins.objectContribution.IJavaElement"
            objectClass="org.eclipse.jdt.core.IJavaElement">
         <action
               class="tarlog.eclipse.plugins.openwe.OpenInWindowsExplorerAction"
               id="tarlog-plugins.action.openWindowsExplorer.iresource"
               label="Open in Windows Explorer">
         </action>
         <action
               class="tarlog.eclipse.plugins.openwe.OpenCommandPrompt"
               id="tarlog-plugins.action2"
               label="Open in Command Prompt">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="logme"
            objectClass="org.eclipse.jdt.internal.ui.javaeditor.JavaEditor">
         <action
               class="tarlog.eclispe.plugins.logme.LogMeAction"
               id="tarlog-plugins.logMeAction"
               label="Log Me">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <template
            autoinsert="true"
            contextTypeId="java-statements"
            description="Adds debug logging statement"
            id="tarlog-plugins.template.debug"
            name="debug">
         <pattern>
            if (logger.isDebugEnabled()) {
    logger.debug(String.format("${cursor}"));
}
         </pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="java-members"
            description="Adds logger for commons-logging"
            id="tarlog-plugins.template.logger"
            name="logger">
         <pattern>
            private static final Log logger = LogFactory.getLog(${enclosing_type}.class);
         </pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="java-statements"
            description="Adds trace logging statement"
            id="tarlog-plugins.template.trace"
            name="trace">
         <pattern>
            if (logger.isTraceEnabled()) {
    logger.trace(String.format(&quot;${cursor}&quot;));
}
         </pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="java-statements"
            description="Adds format statement"
            id="tarlog-plugins.template.format"
            name="format">
         <pattern>
            String.format(&quot;${cursor}&quot;))
         </pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="java-statements"
            description="Adds info logging statement"
            id="tarlog-plugins.template.info"
            name="info">
         <pattern>
            logger.info(String.format(&quot;${cursor}&quot;));
         </pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="java-statements"
            description="Adds error logging statement"
            id="tarlog-plugins.template.error"
            name="error">
         <pattern>
            logger.error(String.format(&quot;${cursor}&quot;));
         </pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="java-statements"
            description="Adds warn logging statement"
            id="tarlog-plugins.template.warn"
            name="warn">
         <pattern>
            logger.warn(String.format(&quot;${cursor}&quot;));
         </pattern>
      </template>
   </extension>

</plugin>
