<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="tarlog-plugins.objectContribution.IResource"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="tarlog.eclipse.plugins.openwe.OpenInWindowsExplorerAction"
               id="tarlog-plugins.action.openWindowsExplorer.iresource"
               label="Open in Windows Explorer">
         </action>
      </objectContribution>
      <objectContribution
            id="tarlog-plugins.objectContribution.IType"
            objectClass="org.eclipse.jdt.core.IType">
         <action
               class="tarlog.eclipse.plugins.openwe.OpenInWindowsExplorerAction"
               id="tarlog-plugins.action.openWindowsExplorer.itype"
               label="Open in Windows Explorer">
         </action>
      </objectContribution>
   </extension>

</plugin>
